cef_user_data/
Code/
backgrounds/
broot/
btop/
coc/
dconf/
discord/
google-chrome/
gtk-3.0/
koodo-reader/
menus/
mimeapps.list
neofetch/
nextjs-nodejs/
nwg-look/
obs-studio/
pavucontrol.ini
pulse/
spicetify/
spotify/
systemd/
xfce4/
